name: GitOps LAMP Deploy

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: self-hosted
    steps:
       - name: Checkout repository
         uses: actions/checkout@v4
       - name: Apply desired state
         run: |
           chmod +x scripts/apply_state.sh
           scripts/apply_state.sh
